html,body{
	margin:0; padding:0;
	background-color: #68838B;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

#wrap{
  width: 990px;
	margin:40px auto; padding-bottom: 20px;
	background-color: white;
	border: 1px solid #ccc;
	position:relative;
}

h1#logo {
  background: url('/assets/cilogo.gif') no-repeat left top;
  width:500px;
  height:100px;
  position:absolute;
  margin:0;
}
h1#logo span{display:none;}

header{
  /*float:left;
  width:250px;
  margin:20px;*/
  position:absolute;
	top:20px;
	left:20px;	
}
#home{float:left;}

nav{margin:100px 0 0 30px;}
#menu{
  float: right;
	text-align:right;
}

#menu ul{
	padding:0; margin:0;
}

#menu li{
	list-style:none;
	padding: 0px 0 10px 0; margin:0;
}

#menu li a:link,
#menu li a:visited{
	text-transform:uppercase;
	font-size: 10px;
	color: #666;
	text-decoration:none;
	padding:0; margin:0;
	display:block;
	letter-spacing: 2px;
}

#menu li.selected a,
#menu li a:hover,
#menu li a:active{
	color: #EE9F4C;
	
}

#body_content, #home_text{
  margin:130px 20px 0 300px;
}

h1{
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 18px;
	font-weight:normal;
	text-transform: uppercase;
	color: #666;
	margin-top:20px;
	margin-bottom:5px;
}

h3{
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
	color: #333;
	margin-bottom:5px;
	margin-top:0px;
}

p{color: #999;font-size: 13px; line-height:18px; margin-top:0px;}
#page ul{margin: 0 0 10px 0;}
#page li{color: #666666;font-size: 12px;padding-bottom:5px;}
#page li em{color: #999;}

#home_photo{
  float:right;
  text-align:center;
  padding-bottom:10px;
}
#home_photo h1{margin:0;}
#home_photo p{margin:0;}
#home_photo p strong{color: #666666;font-size: 12px;}
#home_photo a{ color: #999999; text-transform: uppercase; text-decoration:none; font-size:12px; line-height:18px;}
#home_photo a:hover{color:#EE9F4C;}
#home_photo img{width:250px;height:320px;margin:20px;}

footer{
	width: 990px;
	margin:10px auto 80px auto;
	float:none;
	text-align:right;
}

footer p{
	padding: 0; margin:0;
	color: #FFFFFF;
	font-size:10px;
}
